<!-- <div class="app-container">
  <header class="app-header">
    <h1>Angular Learning App</h1>
  </header>

  <nav class="app-nav">
    <a routerLink="basic-fundamentals" routerLinkActive="active-link" class="nav-link">
      Basic Day-1 Fundamentals
    </a>
  </nav> -->

  <header class="header">
  <div class="logo"><a routerLink="/">MyApp</a></div>
  <nav class="nav">
    <a routerLink="/register" routerLinkActive="active">Registeration Form</a>
    <a routerLink="/parent-component" routerLinkActive="active">Parent</a>
    <a routerLink="/child-view" routerLinkActive="active">Child</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
</header>

